<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="css/signup.css" />
		<title>MONET.Chat App</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<a href="/" style="text-decoration: none; color: inherit;"><h1><i class="far fa-comments"></i> MONET.Chat</h1></a>
			</header>
			<main class="join-main">
				<form id="newroom">
					<div class="form-control">
						<label for="room">Room Name</label>
						<input
							type="text"
							name="roomname"
							id="roomname"
							placeholder="Enter Room Name"
							required
						/>
					</div>
					<div id="pswd" style="display: none;">
                        <div class="form-control">
                            <label for="password">Room Key</label>
                            <input
                                type="password"
                                name="password"
                                id="password"
                                placeholder="Enter Room Key"
                            />
                        </div>
                    </div>
                    <div class="prv" style="
					display: flex;
				">
						<input type="checkbox" id="myCheck" onclick="myFunction()" style="
						border-right-width: 10px;
						padding-left: 10px;
						padding-right: 10px;
					">
						<label style="
						padding-left: 10px;
						padding-right: 10px;
					" >Private Room</label>
					</div>
					<div class="mssg bg-danger">
						<span id="check"></span>
					</div>
					<button type="submit" class="btn">Create a Room</button>
					<div id="LangTable" style="display: none;"><a href="/rooms" id="aa"></a>
				</form>
			</main>
		</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
		</script>
		<script src="/socket.io/socket.io.js"></script>
  		<script src="js/newroom.js"></script>
	</body>
</html>
