<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="css/signup.css" />
		<title>ChatCord App</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-smile"></i> CBITChat</h1>
			</header>
			<main class="join-main">
				<form id="Rooms">
					<div class="form-control">
						<label for="room">Rooms</label>
						<select class="RoomNames" name="room" id="roomselect" >
							<!--<option value="Python">Python</option>
							<option value="PHP">PHP</option>
							<option value="C#">C#</option>
							<option value="Ruby">Ruby</option>
							<option value="Java">Java</option>-->
						</select>
					</div>
					<div class="form-control" id="pwd" style="display: none;">
						<label for="password">Room Key</label>
						<input
							type="password"
							name="password"
							id="password"
							placeholder="Enter Room Key..."
						/>
					</div>
					<div class="mssg bg-danger">
						<span id="check"></span>
					</div>
					<button type="submit" class="btn">Join Chat</button>
					<div id="LangTable" style="display: none;"><a href="/chat" id="aa"></a>
					</div>
				</form>
			</main>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
		</script>
  		<script src="js/Rooms.js"></script>
	</body>
</html>
